@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;800&display=swap");

.mainApp {
  width: 100%;
  height: 100%;
  padding: 9em 0 6em 0;
  box-sizing: border-box;
  text-align: center;
  background-size: cover;
}

.main h1 {
  text-align: center;
}

.main_clock_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main_clock {
  font-family: "Unbounded", cursive;
  color: #fff;
  font-size: 7em;
  text-shadow: 0.2em 0 0.5em rgba(0, 0, 0, 0.3);
}

.main_clock span {
  font-size: 0.5em;
  font-weight: normal;
  margin-left: 0.5em;
}

.main_buttonbox {
  width: 100%;
  height: 10em;
  padding: 2em 0;
  box-sizing: border-box;
}

.main_buttonbox p {
  font-family: "Unbounded", cursive;
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 0.5em;
}

.main_buttonbox button {
  font-family: "Unbounded", cursive;
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em 0.8em;
  background: rgba(0, 0, 0, 0.08);
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2em;
}

.main_buttonbox button:hover {
  background: rgba(0, 0, 0, 0.2);
}

.main_logout {
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.main_logout p {
  font-family: "Unbounded", cursive;
  color: #fff;
  margin-left: 0.5em;
}

.main_logout_button {
  font-size: 2em;
}

@media (max-height: 1080px) {
  .mainApp {
    padding: 6em 0 4em 0;
  }
  .main_buttonbox {
    height: 6em;
    padding: 2em 0;
  }
}

@media (max-height: 760px) {
  .mainApp {
    padding: 4em 0 2em 0;
  }
  .main_buttonbox {
    height: 5em;
  }
}

@media (max-width: 1600px) {
  .main_clock {
    font-size: 5em;
  }

  .main_clock span {
    font-size: 0.3em;
  }
  .main_buttonbox button {
    margin: 0.5em;
    padding: 0.5em 0.5em;
  }
}

@media (max-width: 1200px) {
  .main_clock {
    font-size: 3em;
  }

  .main_clock span {
    font-size: 0.3em;
  }
  .main_buttonbox button {
    font-size: 0.6em;
  }

  .main_logout p {
    font-size: 0.6em;
  }

  .main_logout_button {
    font-size: 1em;
  }
}

@media (max-width: 860px) {
  .main_clock {
    font-size: 3em;
  }

  .main_clock span {
    font-size: 0.3em;
  }
  .main_buttonbox {
    margin-bottom: 1em;
  }

  .main_logout p {
    font-size: 0.6em;
  }

  .main_logout_button {
    font-size: 1em;
  }
}

@media (max-width: 680px) {
  .main_clock {
    font-size: 2em;
  }
  .main_clock span {
    font-size: 0.2em;
  }
  .main_buttonbox {
    height: 4em;
    padding: 0.5em 0;
    margin-bottom: 1em;
  }
  .main_buttonbox button {
    font-size: 0.5em;
  }

  .main_logout_button {
    font-size: 0.8em;
  }
}
