@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,300&family=Sansita+Swashed:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: 0;
}

li {
  list-style: none;
}

.recipe_App {
  width: 100vw;
  height: 100vh;
  background: #2b283a;
  overflow-x: hidden;
  transition: 2s ease-in-out;
}

.recipe_App.otherColor {
  background: #599360;
}

.recipe_back {
  position: relative;
  width: 100%;
  height: 85vh;
  background-size: cover;
}

/* recipe head */
/* recipe head-text */
.recipe_mainArticle {
  position: absolute;
  bottom: 2vh;
  padding: 0 10vw;
  width: 100%;
  box-sizing: border-box;
}

.recipe_main_text h1 {
  font-family: "Sansita Swashed", cursive;
  color: #fff;
  font-size: 10vh;
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}

.recipe_main_text p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 3vh;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  margin-top: 2vh;
}

/* recipe head-icon */
.recipe_icon_box {
  width: 100%;
  height: 7vh;
  text-align: center;
  margin-top: 7vh;
}

.recipe_main_icon {
  font-size: 3.5vh;
  color: #fff;
  transition: all 0.5s;
}

.recipe_main_icon.fade {
  color: transparent;
  margin-top: 2vh;
}

.recipe_main_icon.up {
  margin-top: 0;
}
/* recipe head end */

/* recipe section */
/* recipe section text */
.recipe_section {
  position: relative;
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 25vh;
  box-sizing: border-box;
}

.recipe_section > div > div h4 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  font-family: "Sansita Swashed", cursive;
  font-size: 3vh;
  margin-bottom: 4vh;
}

.recipe_section > div > div h2 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 3vh;
}

.recipe_section > div > div p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.5vh;
  color: #fff;
  margin-top: 1vh;
}

.part1_text,
.part2_text,
.part3_text {
  position: absolute;
  width: 100%;
  height: 25vh;
  padding-left: 5vw;
  margin-top: auto;
  bottom: 0;
  box-sizing: border-box;
}
/* recipe section text end */

.part1_text {
  padding-left: 10vw;
}

/* mouseover effect */
.recipe_part1 {
  position: relative;
}

.part1_back {
  position: absolute;
  top: 0;
  left: 0;
}

.recipe_part2 {
  position: relative;
}

.part2_back {
  position: absolute;
  top: 0;
  left: 0;
}

.recipe_part3 {
  position: relative;
}

.part3_back {
  position: absolute;
  top: 0;
  left: 0;
}

.part1_back,
.part2_back,
.part3_back {
  width: 100%;
  height: 0;
  background-size: auto 50vh;
  transition: 0.5s ease;
}

.recipe_part1:hover .part1_back {
  background-size: auto 70vh;
  bottom: 0;
  height: 100%;
}

.recipe_part2:hover .part2_back {
  background-size: auto 70vh;
  bottom: 0;
  height: 100%;
}

.recipe_part3:hover .part3_back {
  background-size: auto 70vh;
  bottom: 0;
  height: 100%;
}
/* recipe section end */

/* recipe search */
.recipe_search {
  width: 100%;
  height: 70vh;
  text-align: center;
  padding: 20vh 0 0 0;
  box-sizing: border-box;
}

.recipe_form {
  width: 100%;
  height: 50vh;
}

.recipe_form h2 {
  font-size: 5vh;
  font-family: "Sansita Swashed", cursive;
  color: #fff;
  margin-bottom: 2vh;
}

.recipe_form h4 {
  font-size: 2.5vh;
  color: #fff;
  font-family: "Sansita Swashed", cursive;
  font-weight: 400;
  margin-bottom: 5vh;
}

.recipe_form div input {
  width: 25vw;
  height: 4vh;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  font-size: 2vh;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #fff;
  background: transparent;
}

.recipe_form div input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.recipe_form div input:focus {
  outline: 0;
}
/* recipe search end */

/* recipe api */
.recipe_api {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10vh 10vw;
  box-sizing: border-box;
  background: #fff;
}
.recipe_api_boxes {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3vw;
}

.recepe_api_title {
  font-family: "Sansita Swashed", cursive;
  font-size: 3vh;
  color: #36693c;
  margin-bottom: 5vh;
}

/* recipe card */
.recipe_card {
  overflow: hidden;
  height: 30vh;
  cursor: pointer;
}

.recipe_img {
  width: 100%;
  height: 20vh;
  background-size: cover;
  margin-bottom: 2vh;
}

.recipe_card h1 {
  font-size: 1.8vh;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #515a52;
}
/* recipe card end */

/* recipe itself */
.recipe_itself {
  width: 100%;
  height: auto;
  padding: 10vh 0;
  color: #515a52;
}

.recipe_itself_img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 5vh;
}

.recipe_itself_name {
  font-family: "Sansita Swashed", cursive;
  text-align: center;
  font-size: 3vh;
}

.recipe_itself_cont {
  width: 60%;
  margin: 10vh auto 0 auto;
}

.recipe_itself_ingr {
  margin-bottom: 5vh;
}

.recipe_itself_ingr h3,
.recipe_itself_inst h3 {
  font-family: "Sansita Swashed", cursive;
  font-size: 2.5vh;
  margin-bottom: 0.5vh;
}

.recipe_itself_ingr p {
  font-family: "Raleway", sans-serif;
  font-size: 1.5vh;
  margin-bottom: 1vh;
}

.recipe_itself_ingr ul {
  font-family: "Raleway", sans-serif;
  font-size: 1.8vh;
  font-weight: 500;
  border-left: 2px solid #3b8f44;
}

.recipe_itself_ingr ul li {
  margin-left: 1vw;
}

.recipe_itself_step {
  margin-top: 2vh;
}

.recipe_itself_step h4 {
  font-family: "Sansita Swashed", cursive;
  color: #3b8f44;
  font-size: 2vh;
  margin-bottom: 1vh;
}

.recipe_itself_step p {
  font-family: "Raleway", sans-serif;
  font-size: 1.8vh;
}

.ingr_ul_div {
  width: 100%;
  display: flex;
  gap: 2vw;
}

.ingr_ul_title {
  font-size: 2vh;
  font-weight: bold;
  margin: 0 0 1vh 1vh;
}

/* comp recipe */
.recipe_comp_wrapper {
  position: absolute;
  top: 0vh;
  left: 0;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 10vh 5vw;
  z-index: 100;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
}

.recipe_comp_wrapper h1 {
  font-family: "Sansita Swashed", cursive;
  color: #fff;
  margin-bottom: 5vh;
}

.recipe_comp_card_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2vh;
  margin: auto;
}

.recipe_comp_card {
  width: 16vw;
  height: 30vh;
  background: #fff;
  box-shadow: 0.5em 0 1em rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.recipe_comp_card:hover {
  width: 17vw;
  height: 31vh;
}

.recipe_comp_card:hover .recipe_comp_img {
  height: 23.5vh;
}

.recipe_comp_img {
  width: 100%;
  height: 23vh;
  background-size: cover;
  margin-bottom: 1vh;
  transition: 0.5s;
}

.recipe_comp_card h4 {
  font-family: "Raleway", sans-serif;
  color: #515a52;
  font-size: 2vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 auto;
}

/* css loader */
.recipe_loader {
  width: 100%;
  height: 10vh;
  margin-top: 20vh;
}

.recipe_loader h4 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  margin-top: 2vh;
  color: #515a52;
}
.Book {
  --Color: #85c98c;
  --Duration: 6.8s;
  width: 32px;
  height: 12px;
  position: Relative;
  margin: 0 auto;
}
.Book .Inner {
  width: 32px;
  height: 12px;
  position: Relative;
  transform-origin: 2px 2px;
  transform: RotateZ(-90deg);
  animation: Book Var(--Duration) Ease Infinite;
}
.Book .Inner .Left,
.Book .Inner .Right {
  width: 60px;
  height: 4px;
  top: 0;
  border-radius: 2px;
  background: Var(--Color);
  position: Absolute;
}
.Book .Inner .Left:before,
.Book .Inner .Right:before {
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: inherit;
  position: Absolute;
  top: -10px;
  left: 6px;
}
.Book .Inner .Left {
  right: 28px;
  transform-origin: 58px 2px;
  transform: RotateZ(90deg);
  animation: Left Var(--Duration) Ease Infinite;
}
.Book .Inner .Right {
  left: 28px;
  transform-origin: 2px 2px;
  transform: RotateZ(-90deg);
  animation: Right Var(--Duration) Ease Infinite;
}
.Book .Inner .Middle {
  width: 32px;
  height: 12px;
  border: 4px Solid Var(--Color);
  border-top: 0;
  border-radius: 0 0 9px 9px;
  transform: TranslateY(2px);
}
.Book Ul {
  margin: 0;
  padding: 0;
  list-style: None;
  position: Absolute;
  left: 50%;
  top: 0;
}
.Book Ul Li {
  height: 4px;
  border-radius: 2px;
  transform-origin: 100% 2px;
  width: 48px;
  right: 0;
  top: -10px;
  position: Absolute;
  background: Var(--Color);
  transform: RotateZ(0deg) TranslateX(-18px);
  animation-duration: Var(--Duration);
  animation-timing-function: Ease;
  animation-iteration-count: Infinite;
}
.Book Ul Li:nth-child(0) {
  animation-name: Page-0;
}
.Book Ul Li:nth-child(1) {
  animation-name: Page-1;
}
.Book Ul Li:nth-child(2) {
  animation-name: Page-2;
}
.Book Ul Li:nth-child(3) {
  animation-name: Page-3;
}
.Book Ul Li:nth-child(4) {
  animation-name: Page-4;
}
.Book Ul Li:nth-child(5) {
  animation-name: Page-5;
}
.Book Ul Li:nth-child(6) {
  animation-name: Page-6;
}
.Book Ul Li:nth-child(7) {
  animation-name: Page-7;
}
.Book Ul Li:nth-child(8) {
  animation-name: Page-8;
}
.Book Ul Li:nth-child(9) {
  animation-name: Page-9;
}
.Book Ul Li:nth-child(10) {
  animation-name: Page-10;
}
.Book Ul Li:nth-child(11) {
  animation-name: Page-11;
}
.Book Ul Li:nth-child(12) {
  animation-name: Page-12;
}
.Book Ul Li:nth-child(13) {
  animation-name: Page-13;
}
.Book Ul Li:nth-child(14) {
  animation-name: Page-14;
}
.Book Ul Li:nth-child(15) {
  animation-name: Page-15;
}
.Book Ul Li:nth-child(16) {
  animation-name: Page-16;
}
.Book Ul Li:nth-child(17) {
  animation-name: Page-17;
}
.Book Ul Li:nth-child(18) {
  animation-name: Page-18;
}

@keyframes Page-0 {
  4% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  13%,
  54% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  63% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-1 {
  5.86% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  14.74%,
  55.86% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  64.74% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-2 {
  7.72% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  16.48%,
  57.72% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  66.48% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-3 {
  9.58% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  18.22%,
  59.58% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  68.22% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-4 {
  11.44% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  19.96%,
  61.44% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  69.96% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-5 {
  13.3% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  21.7%,
  63.3% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  71.7% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-6 {
  15.16% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  23.44%,
  65.16% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  73.44% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-7 {
  17.02% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  25.18%,
  67.02% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  75.18% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-8 {
  18.88% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  26.92%,
  68.88% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  76.92% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-9 {
  20.74% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  28.66%,
  70.74% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  78.66% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-10 {
  22.6% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  30.4%,
  72.6% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  80.4% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-11 {
  24.46% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  32.14%,
  74.46% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  82.14% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-12 {
  26.32% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  33.88%,
  76.32% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  83.88% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-13 {
  28.18% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  35.62%,
  78.18% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  85.62% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-14 {
  30.04% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  37.36%,
  80.04% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  87.36% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-15 {
  31.9% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  39.1%,
  81.9% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  89.1% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-16 {
  33.76% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  40.84%,
  83.76% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  90.84% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-17 {
  35.62% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  42.58%,
  85.62% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  92.58% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Page-18 {
  37.48% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
  44.32%,
  87.48% {
    transform: RotateZ(180deg) TranslateX(-18px);
  }
  94.32% {
    transform: RotateZ(0deg) TranslateX(-18px);
  }
}
@keyframes Left {
  4% {
    transform: RotateZ(90deg);
  }
  10%,
  40% {
    transform: RotateZ(0deg);
  }
  46%,
  54% {
    transform: RotateZ(90deg);
  }
  60%,
  90% {
    transform: RotateZ(0deg);
  }
  96% {
    transform: RotateZ(90deg);
  }
}
@keyframes Right {
  4% {
    transform: RotateZ(-90deg);
  }
  10%,
  40% {
    transform: RotateZ(0deg);
  }
  46%,
  54% {
    transform: RotateZ(-90deg);
  }
  60%,
  90% {
    transform: RotateZ(0deg);
  }
  96% {
    transform: RotateZ(-90deg);
  }
}
@keyframes Book {
  4% {
    transform: RotateZ(-90deg);
  }
  10%,
  40% {
    transform: RotateZ(0deg);
    transform-origin: 2px 2px;
  }
  40.01%,
  59.99% {
    transform-origin: 30px 2px;
  }
  46%,
  54% {
    transform: RotateZ(90deg);
  }
  60%,
  90% {
    transform: RotateZ(0deg);
    transform-origin: 2px 2px;
  }
  96% {
    transform: RotateZ(-90deg);
  }
}
Html {
  box-sizing: Border-Box;
  -webkit-font-smoothing: Antialiased;
}

* {
  box-sizing: inherit;
}
*:before,
*:after {
  box-sizing: inherit;
}

Body {
  min-height: 100vh;
  display: Flex;
  justify-content: Center;
  align-items: Center;
  background: #fff;
}
Body .Dribbble {
  position: Fixed;
  display: Block;
  right: 24px;
  bottom: 24px;
}
Body .Dribbble Img {
  display: Block;
  width: 76px;
}

/* media query */
@media (max-width: 1920px) {
  .recipe_api_boxes {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1600px) {
  .recipe_section > div > div h4 {
    font-size: 2vh;
  }
  .recipe_section > div > div h2 {
    font-size: 2.5vh;
  }

  .recipe_api_boxes {
    grid-template-columns: repeat(4, 1fr);
  }

  .recipe_comp_img {
    height: 20vh;
  }
}

@media (max-width: 1200px) {
  .recipe_main_text h1 {
    font-size: 8vh;
  }
  .recipe_main_text p {
    font-size: 2vh;
  }
  .recipe_api_boxes {
    grid-template-columns: repeat(3, 1fr);
  }
}
